* {
    box-sizing: border-box;
}

h1 {
    color: rgb(170, 11, 38);
    font-size: 20;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Tilt Neon', cursive;
    background-color: rgb(249, 190, 184);
}

 header {
    padding: 50px;
    background-color: rgb(247, 202, 194);
    text-align: center;
}

.separar{
    display: flex;
    flex-wrap: wrap;
}

aside{
    flex: 50px;
    background-color: lightgreen;
    padding: 20px;
}

section{
    flex: 40%;
    background-color: rgb(88, 233, 226);
}



.estructuraPagina footer {
    padding: 20px;
    text-align: center;
    width: 100%;
    background-color: rgb(120, 251, 149);
}